<launch>
  <!-- Simulated RGB-D Camera in Gazebo -->

  <arg name="camera_name" default="camera"/>
  <arg name="frame_id" default="camera_link"/>

  <!-- Spawn RGB-D camera plugin in Gazebo -->
  <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description_camera -model rgbd_camera"
        respawn="false" output="screen"/>

  <!-- RGB-D Camera URDF -->
  <param name="robot_description_camera" textfile="$(find unitree_ssc_navigation)/urdf/rgbd_camera.urdf.xacro"/>

  <!-- Publish camera info -->
  <node pkg="rostopic" type="rostopic" name="camera_info_publisher"
        args="pub /$(arg camera_name)/color/camera_info sensor_msgs/CameraInfo
        '{header: {frame_id: camera_color_optical_frame},
          width: 640, height: 480,
          K: [387.229, 0.0, 321.046, 0.0, 387.229, 243.449, 0.0, 0.0, 1.0],
          D: [0.0, 0.0, 0.0, 0.0, 0.0],
          R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
          P: [387.229, 0.0, 321.046, 0.0, 0.0, 387.229, 243.449, 0.0, 0.0, 0.0, 1.0, 0.0]}' -r 30"/>

</launch>
